AZURE_STORAGE_CONTAINER_NAME=""
AZURE_STORAGE_CONTAINER_ACCOUNT=""
AZURE_STORAGE_CONNECTION_STRING=""

AZURE_DOCINTEL_KEY=""
AZURE_DOCINTEL_VERSION=""
AZURE_DOCINTEL_ENDPOINT=""

AZURE_AI_SEARCH_KEY=""
AZURE_AI_SEARCH_INDEX_NAME=""
AZURE_AI_SEARCH_SERVICE_NAME=""

AZURE_OPENAI_KEY=""
AZURE_OPENAI_VERSION=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_EMBEDDING_MODEL=""
AZURE_OPENAI_COMPLETION_MODEL=""